@charset "utf-8";
body{background: #ffd82b;}
#pos{width:100%; height: 100%;font-size: 0.1875rem;box-sizing:border-box;}
#pos div{margin-top: 3.828125rem;text-align: center;}
#pos div img{width: 5.375rem;height: 2.078125rem;margin-bottom: 0.3125rem;}
#pos div p{font-size: 0.578125rem;font-weight: bold;}
#pos>p{display: flex;justify-content:center;margin-top: 1.109375rem;height: 1.765625rem;}
#pos>p a{display: flex;flex-direction:column;}
#pos>p a b img{width: 1.125rem;height: 1.125rem;}
#pos>p a span{margin: 0.125rem auto;font-size: 0.40625rem;}





