@charset "utf-8";
#shop{width:100%; height: 100%;background: #efefef;font-size: 0.1875rem;box-sizing:border-box;}
/*头部*/
#shop header{font-size: 0.390625rem;margin-bottom: 0.3125rem;}
#shop header div{height: 1.40625rem;border-bottom: 1px solid #e0e0e0;text-align: center;line-height: 1.40625rem;background: #f9fafd;}
#shop header p{background: #fff;height: 1.5rem;color: #e75624;padding-left: 0.484375rem;line-height: 1.5rem;}
/**/
#give{background: #fff;height: 8.9375rem;}
#give li{border-bottom: 1px solid #e0e0e0;/*display: flex;align-items:center;*/height: 1.5625rem;padding-left: 0.4375rem;}
#give li:last-of-type{border-bottom: none;}
#give li:nth-of-type(1){height: 1.71875rem;color: #999999;}
#give li:nth-of-type(1) span{margin-top: 0.265625rem;font-size: 0.390625rem;}
#give li:nth-of-type(1) span img{width: 0.125rem;height: 0.375rem;margin-right: 0.1875rem;}
#give li:nth-of-type(1) p{margin-top:0.46875rem;}
#give li:nth-of-type(2){font-size: 0.390625rem;line-height: 1.5625rem;}
#give li:nth-of-type(2) span:first-of-type span{color: #e64f1a;margin-left: 0.4375rem;}
#give li:nth-of-type(2) span:last-of-type{margin-left: 3.203125rem;}
#give li:nth-of-type(2) span:last-of-type img{width: 0.15625rem;height: 0.3125rem;margin-left: 0.1875rem;}
#give li:nth-of-type(3){line-height: 1.5625rem;font-size: 0.390625rem;}
#give li:nth-of-type(3) input{margin-left: 0.421875rem;height: 0.984375rem;width: 6.828125rem;/*border-radius: 0.09375rem;*/}
#give li:nth-of-type(4){height: 2.5rem;display: flex;align-items:center;} 
#give li:nth-of-type(4)>img{margin-right: 0.8125rem;}
#give li:nth-of-type(4)>img:first-of-type{width: 0.5625rem;height: 0.546875rem;}
#give li:nth-of-type(4)>img:last-of-type{width: 0.8125rem;height: 1.265625rem;}
#give li:nth-of-type(4) div{height: 1.640625rem;}
#give li:nth-of-type(4) div p{font-size: 0.40625rem;margin-bottom: 0.46875rem;}
#give li:nth-of-type(4) .add{margin-left: 0.59375rem;margin-top: 1.28125rem;}
#give li:nth-of-type(4) .add a img{width: 0.875rem;height: 0.875rem;}
#give li:nth-of-type(5){display: flex;align-items:center;font-size: 0.40625rem;}
#give li:nth-of-type(5) p:first-of-type img{width: 0.5625rem;height: 0.546875rem;margin-right: 0.234375rem;}
#give li:nth-of-type(5) p:last-of-type{margin-left: 0.84375rem;}
#give li:nth-of-type(5) p:last-of-type span{color: #e64f1a;}
#give li:nth-of-type(5) input{border: none;background: #ffd600;width: 3.125rem;height: 1.5625rem;margin-left: 2.1875rem;}

